# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
se/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.onnx
*.zip
*.deb
.pytest_cache/
.mypy_cache/
.hypothesis/

# Virtual Environment
.venv
se/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
.gemini/
output.jpg
vis_depth/
video_depth_vis/
*.jpg
*.png
*.mp4

#build artifcats
dist/
build/
node_modules/
aws/
*.aws

# Checkpoints (Large files)
Depth-Anything-V2/checkpoints/
Depth-Anything-V2/metric_depth/checkpoints/
*.pth
*.pt

# System
.DS_Store
Thumbs.db

# AWS Specific (local)
.aws/              # AWS CLI config/credentials (though usually in ~)
.terraform/        # Terraform state/config (if used locally)
.serverless/       # Serverless framework artifacts (if used)
*.env              # Environment variables that might contain AWS key

aws.txt
manual.txt
context.txt
